/* Main calendar container */
.fc {
  background-color: #fff;
  overflow: hidden;
  font-family: var(--font-plus-jakarta-sans), sans-serif;
}

/* Calendar view harness */
.fc-view-harness {
  /* Styles for the view harness */
}
table.fc-scrollgrid.fc-scrollgrid-liquid {
  border: none;
}
.fc-scrollgrid-section-header thead {
  border: none !important;
}

.fc-daygrid-day {
  border: 1px solid #e4ebf9 !important; /* gray-200 */
}
/* Day grid month view */
.fc-dayGridMonth-view {
  /* Styles for the month view */
  padding: 0px;
  border: 0px solid #e4ebf9 !important; /* gray-200 */
}

/* Individual day header cells (e.g., Sun, Mon) */
.fc-col-header-cell {
  /* Styles for day header cells */
  border: none;
  border-bottom: 0px solid #e4ebf9 !important; /* gray-200 */
}

/* Day header text */
.fc-col-header-cell-cushion {
  /* Styles for day header text */
  font-weight: 500;
  font-size: 12px;
  color: #202020;
}

/* Day number links */
.fc-daygrid-day-number {
  /* Styles for day numbers */
  font-weight: 600;
  font-size: 12px;
  color: #202020;
  text-align: center;
  margin: auto;
  margin-top: 2px;
}

/* Day cell container frame */
.fc-daygrid-day-frame {
  /* Styles for the day cell frame */
  border: 0px solid #e4ebf9 !important; /* gray-200 */
}

/* Today's date */
.fc-day-today {
  /* Styles for today's date */
  background: rgb(227, 244, 254) !important;
}



.fc-event-title,
.fc-event-time,
.fc-event {
    font-size: 11px !important;
    border-radius: 6px !important;
    padding: 1px 3px !important;
    border: none !important;
    font-weight: 600 !important;
    
}


